@use "./base.scss";

@media all and (max-width: 600px) {
  .page > #quartz-body,
  .page .center,
  .page article {
    min-width: 0;
  }

  .page > #quartz-body .sidebar.left {
    width: 100%;
  }

  .page-title {
    flex-shrink: 1;
    min-width: 0;
  }

  .search {
    flex: 0 0 2.25rem;
    min-width: 2.25rem;
    max-width: 2.25rem;

    .search-button > p {
      display: none;
    }
  }
}
